{% extends 'index.html' %}
{% load static %}
{% block content %}

    {% for home in homes %}
        <div class="hero-wrap js-fullheight" style="background-image: url({{ home.image.url }});"
             data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start"
                     data-scrollax-parent="true">
                    <div class="col-md-12 ftco-animate text-center">
                        <h1 class="mb-4 mb-md-0">{{ home.title }}</h1>
                        <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i
                                class="ion-ios-arrow-forward"></i></a></span> <span><a href="/article/">Article <i
                                class="ion-ios-arrow-forward"></i></a></span></span> <span><a href="/about/">About<i
                                class="ion-ios-arrow-forward"></i></a></span></span> <span><a href="/contact/">Contact<i
                                class="ion-ios-arrow-forward"></i></a></span>
                        </p>
                        <a href="#" class="mouse-icon">
                            <div class="mouse-wheel"><span class="ion-ios-arrow-round-down"></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    {% endfor %}

    <section class="ftco-section ftco-degree-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 ftco-animate">
                    <p class="mb-5">
                        <img src="{{ single.image.url }}" alt="" class="img-fluid">
                    </p>
                    <h2 class="mb-3">{{ single.title }}</h2>
                    <p>{{ single.text }}</p>
                    <div class="tag-widget post-tag-container mb-5 mt-5">
                        <div class="tagcloud">
                            <a href="#" class="tag-cloud-link">Life</a>
                            <a href="#" class="tag-cloud-link">Sport</a>
                            <a href="#" class="tag-cloud-link">Tech</a>
                            <a href="#" class="tag-cloud-link">Travel</a>
                        </div>
                    </div>
                    <div class="pt-5 mt-5">
                        <h3 class="mb-5">{{ single.comments.count }} Comments</h3>
                        <ul class="comment-list">
                            {% for comment in single.comments.all %}
                                <li class="comment">
                                    <div class="vcard bio">
                                        <img src="{% static 'images/person_1.jpg' %}" alt="Image placeholder">
                                    </div>
                                    <div class="comment-body">
                                        <h3>{{ comment.name }}</h3>
                                        <div class="meta mb-3">{{ comment.created_at }}</div>
                                        <p>{{ comment.message }}</p>
                                    </div>
                                </li>

                            {% endfor %}

                        </ul>

                        <div class="comment-form-wrap pt-5">
                            <h3 class="mb-5">Leave a comment</h3>
                            <form method="post" action="#" class="p-5 bg-light">
                                {% csrf_token %}
                                <div class="form-group">
                                    {{ form.name }}
                                </div>
                                <div class="form-group">
                                    {{ form.phone }}
                                </div>
                                <div class="form-group">
                                    {{ form.email }}
                                </div>
                                <div class="form-group">
                                    {{ form.message }}
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 sidebar pl-lg-5 ftco-animate">
                    <div class="sidebar-box">
                        <form action="#" class="search-form">
                            <div class="form-group">
                                <span class="icon icon-search"></span>
                                <input type="text" class="form-control" placeholder="Type a keyword and hit enter">
                            </div>
                        </form>
                    </div>
                    <div class="sidebar-box ftco-animate">
                        <div class="categories">
                            <h3>Categories</h3>
                            {% for category in categorys %}

                                <li><a href="#">{{ category.name }} ({{ category.category.count }})<span class="ion-ios-arrow-forward"></span></a></li>

                            {% endfor %}
                        </div>
                    </div>
                    <div class="sidebar-box ftco-animate">
                        <h3>Recent Blog</h3>
                        {% for article in single_articles %}
                            <div class="block-21 mb-4 d-flex">
                                <a class="blog-img mr-4" style="background-image: url({{ article.image.url }});"></a>
                                <div class="text">
                                    <h3 class="heading"><a href="{% url 'single' article.pk %}">{{ article.title }}</a>
                                    </h3>
                                    <div class="meta">
                                        <div><a href="#"><span class="icon-calendar"></span>{{ article.created_at }}</a>
                                        </div>
                                        <div><a href="#"><span class="icon-person"></span>{{ article.author }}</a></div>
                                        <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="sidebar-box ftco-animate">
                        <h3>Tag Cloud</h3>
                        <div class="tagcloud">
                            <a href="#" class="tag-cloud-link">cat</a>
                            <a href="#" class="tag-cloud-link">abstract</a>
                            <a href="#" class="tag-cloud-link">people</a>
                            <a href="#" class="tag-cloud-link">person</a>
                            <a href="#" class="tag-cloud-link">model</a>
                            <a href="#" class="tag-cloud-link">delicious</a>
                            <a href="#" class="tag-cloud-link">desserts</a>
                            <a href="#" class="tag-cloud-link">drinks</a>
                        </div>
                    </div>
                    <div class="sidebar-box ftco-animate">
                        <h3>Paragraph</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem
                            necessitatibus
                            voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur
                            similique, inventore eos fugit cupiditate numquam!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}